{% extends "base.html" %}

{% block content %}
<div class="header">
  <span>
    <input id="start_date" type="date"
           onchange="set_all_plots_date_ranges();">
    -
    <input id="end_date" type="date"
           onchange="set_all_plots_date_ranges();">
  </span>
  <script>
    var default_date = new Date();
    document.getElementById("end_date").valueAsDate = default_date;
    default_date.setMonth(default_date.getMonth() - 1);
    document.getElementById("start_date").valueAsDate = default_date;
  </script>
  <script>
    function set_date_range(plot_div) {
        // attach to event on data update
        // https://plot.ly/javascript/plotlyjs-events/#update-data
        var start_date = new Date(document.getElementById("start_date").value);
        var end_date = new Date(document.getElementById("end_date").value);
        end_date.setDate(end_date.getDate() + 1);
        var axes_range = {
            'xaxis.range': [start_date, end_date]
        };
        Plotly.relayout(plot_div, axes_range);
    }

    function set_all_plots_date_ranges(){
        /* todo: get divs automatically */
        var plots = ["revenue_by_cohorts"];
        for(let i = 0; i < plots.length; i++){
            set_date_range(plots[i]);
        }
    }
  </script>

  <span>
    <!--todo: use styles for formatting -->
    &nbsp;
    &nbsp;
  </span>
  <span>
    <input type="radio" name="timeperiod"
           value="months" onclick="set_time_period(this);"> Months
    <input type="radio" name="timeperiod"
           value="weeks" onclick="set_time_period(this);"
           checked="checked"> Weeks
    <input type="radio" name="timeperiod"
           value="days" onclick="set_time_period(this);"> Days
  </span>

  <span style="float:right">
    Region:
    <input type="checkbox" name="America"
           value="america">America
    <input type="checkbox" name="Europe"
           value="europe">Europe
    <input type="checkbox" name="Asia"
           value="asia">Asia
    <input type="checkbox" name="Total"
           value="total" checked="checked">Total<br>
  </span>

  <script>
    function set_time_period(radio_btn) {
        /* todo: get divs automatically */
        var plots = ["revenue_by_cohorts"];

        for(let i = 0; i < plots.length; i++){
            jQuery.post(
                '/overview/' + plots[i],
                {time_period: radio_btn.value}
            ).done(function(response) {
                // todo: update only data
                Plotly.react(plots[i], JSON.parse(response));
                set_date_range(plots[i]);
            }).fail(function() {
                console.log("Can't get data from the server")
            })
        }
    }
  </script>
</div>

<div>
  <!-- Use CSS instead of space-formatting -->
  <br>
  <br>
  <br>
</div>

<div id="revenue_by_cohorts"></div>
<script>
  Plotly.newPlot("revenue_by_cohorts", {{plots.revenue_by_cohorts | safe}});
  //todo: attach to some callback
  //set_date_range("revenue_by_cohorts");
</script>


{% endblock %}
