<html>
    <head>
      <title>Dashboard</title>
      <link rel= "stylesheet" type= "text/css"
            href= "{{ url_for('static',filename='sidebar.css') }}">

      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
      <div class="sidenav">
        <a href="{{ url_for('overview.overview') }}">Overview</a>
        <span style="padding: 6px 8px 6px 16px; display: block;">Monitoring</span>
        <span style="padding: 6px 8px 6px 16px; display: block;">Conversions</span>
	<a href="{{ url_for('retention.retention') }}">Retention</a>
        <span style="padding: 6px 8px 6px 16px; display: block;">A/B Tests</span>
        <a href="{{ url_for('releases.releases') }}">Releases</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      </div>
        <div class="main">

          {% block content %}
          {% endblock %}

          <div class="flashed_msgs">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
          </div>

        </div>
    </body>
</html>
